<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @userproduct.name %>
</p>

<p>
  <b>Description:</b>
  <%= @userproduct.description %>
</p>

<p>
  <b>Type of jewelry:</b>
  <%= @userproduct.type_of_jewelry %>
</p>

<p>
  <b>Image url:</b>
  <%= @userproduct.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @userproduct.price %>
</p>


<%= link_to 'Back', userproducts_path %>
